<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 15px">

# Project 1: Python Coding Exercises



---

The following code challenges are drawn from common exercises used in technical interviews.

Please note that there may be several ways to approach each challenge. If you get stuck, try mapping out your approach in pseudocode first. Finally, while solutions to problems like these may be found online, remember that if you copy/paste code that you can't explain, you'll be missing out on the point of the project. The only way to truly learn a new skill is through practice, trial, and error - we can only help you improve by understanding where you are having trouble.

### Challenge 1: Largest Palindrome
A palindromic number reads the same both ways. For example, 1234321 is a palindrome. The largest palindrome made from the product of two two-digit numbers is 9009 = 91 × 99. Find the largest palindrome made from the product of two three-digit numbers. Afterward, write a brief explanation walking through your code's logic in markdown.

In [10]:
# Initialise variable to be used to contain the largest palindrome 
max_pal = 0

# Nested for loops to start from largest 3-digit number and countdown
for number1 in range(999,900,-1):
    for number2 in range(999,900,-1):
        
        #calculate the product of the two 3-digit numbers
        product = number1 * number2
        
        # Convert the product value into a string and also create a reversed copy
        num_str = str(product)
        rev_num_str = num_str[::-1]
        
        #Check whether the fwd/rev value strings are the same, i.e. palindromic 
        if num_str == rev_num_str:
            # check whether the current palindrome is the largest found
            if product > max_pal:
                #store the values of the 3-digit numbers and the product of the largest found
                pal_num_1 = number1
                pal_num_2 = number2
                max_pal = product

#Print out msg with values and palindrome
print("{0} is the largest palimdromic number as a product of two 3-digit numbers, being the product of {1} and {2}".format(max_pal,pal_num_1,pal_num_2))

906609 is the largest palimdromic number as a product of two 3-digit numbers, being the product of 993 and 913

### Explanation:
1. It was assumed that the largest palindromic product would occur multiplying numbers in the 900's. As such, the algorithm was arranged to start at the max 999 and work back (i.e. down) from there. The loops were limited to assessing a min value of 900 to reduce computation.
2. The algorithm assesses the product of each value between _900-999_.
3. The product is converted to a string variable to easily derive the reversed number.
4. The product and reversed product string vars are compared.
5. If the product is a palindrome, the current product value is checked whether it is the largest found. If larger, the max palindrome variable `max_pal` is updated to the new value. The 3-digit values are also stored for information.
6. Outcome is displayed is a user friendly readable text string.


### Challenge 2: Summation of Primes
The sum of the primes below 10 is 2 + 3 + 5 + 7 = 17. Find the sum of all the primes below 2,000. Afterward, write a brief explanation walking through your code's logic in markdown.

In [7]:
# Creat input variable with desired assessment value
input_value = 2000

# Innitialise variable for summation of total primes
prime_sum = 0

# Loop through all numbers from 2 to the desired assessment value; NB 1 can be ignored to save one iteration
for num in range(2,input_value):
    # Initialise a flag variable for later use
    prime_flag = 0
    
    # Loop through all numbers below the current number of interest
    for i in range(2,num):
        
        # check whether there are any factors for the current number of interest other than 1 and itself
        if num % i == 0:      #number is not prime
            
            # If true, current number is NOT prime; modify flag variable and break the loop
            prime_flag = 1
            break
    
    # if flag variable unchanged, current number is a prime; add to the running summation
    if prime_flag == 0:
        prime_sum += num
        
# Print out final total prime sum        
print("{0} is the sum of all primes below {1}".format(prime_sum, input_value))

277050 is the sum of all primes below 2000

### Explanation:
1. An initial input value is set as `2000`. Possible drawback of the code is that the input value would need to be manually changed to assess other numbers. The code could easily be modified as a function if mulitple numbers needed to be assessed.
2. A running sum total variable `prime_sum` is initialised at `0`.
3. A `for loop` is set up to increment up through all numbers from **2** to the input value. Note **1** is skipped as we know it is not a prime - saves on one iteration at least!
4. A flag/check variable `prime_flag` is set to `0` for **each** number being assessed. This flag var is used later to identify if the current number is a prime or not.
5. Second `for loop` used to iterate through all numbers below the current `num` value being assessed. The loop checks to see if the current number is divisible by any other number below it by using the modulus operator. If the number is divisible by another number, the flag var `prime_flag` is set to `1` and the inner `for loop` is stopped using the `break` command.
6. If the flag var is still `0` once the inner `for loop` is complete, the number is a prime and is added to the running sum total `prime_sum`
7. The total sum is printed out for the user.

### Challenge 3: Multiples of 3 and 5
If we list all of the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6, and 9. The sum of these multiples is 23. Find the sum of all the multiples of 3 and 5 below 1,000. Afterward, write a brief explanation walking through your code's logic in markdown.

In [8]:
# Creat input variable with desired assessment value
input_value = 1000

# Innitialise variable for summation of total
sum_total = 0

# Loop through all numbers from 1 to the desired assessment value
for i in range(1,input_value):
    # check if the number is a mulitple of 5; if so add the number to the running sum total
    if i % 5 == 0:
        sum_total += i
    # else, check if the number is a mulitple of 3; if so add the number to the running sum total
    elif i % 3 == 0:
        sum_total += i

# Print out the final total of all multiples
print("{0} is the sum of all mulitples of 3 and 5 below {1}".format(sum_total, input_value))

233168 is the sum of all mulitples of 3 and 5 below 1000

### Explanation:
1. An initial input value is set as `1000`. Possible drawback of the code is that the variable would need to be manually changed to assess other numbers. The code could easily be modified as a function if mulitple numbers needed to be assessed.
2. A running sum total variable `sum_total` is initialised at `0`.
3. A `for loop` is set up to iterate through all numbers below the input value.
4. Each number is checked to whether it is a mulitple of 3 or 5 by checking the remainder from the modulus operation. If the current number is a multiple, its value is added to the running total var `sum_total`.
5. Numbers that are multiples of both 3 and 5 do not need to be considered separately, as they will still be captured.
6. The final total of all multiples is printed out after the loop.

### Challenge 4: String Compressor
Implement a method to perform basic string compression using the counts of repeated characters. (This is called run-length encoding.) For example, the string "aabcccccaaa" would become a2b1c5a3. If the “compressed” string would not become smaller than the original string, your method should return the original string. You can assume the string has only uppercase and lowercase letters (a–z). Specify whether your solution is case sensitive or case insensitive and what you would need to change to make it the other. Afterward, write a brief explanation walking through your code's logic in markdown.

In [3]:
# define function to process a string supplied by user
def run_len_encode(input_str):
    
    # error check to ensure input is a string variable
    if type(input_str) != str:
        return 'Input must be a string format'
    
    # initialise an indexing variable
    y=0
    
    # grab first letter as the first unique letter and add to a new string variable
    compressed_str = str(input_str[y])
    
    # loop through the remainder of the string
    for x in range(2,len(input_str)):
        
        # check whether the current character is different from the previous
        if input_str[x] != input_str[x-1]:
            compressed_str += str(x - y)           # calculate the count of the previous letter and add to compressed string var
            compressed_str += str(input_str[x])    # add new character to the compressed string var
            y = x
        
        # if at the end of the string, calculate the count of the final char and add to string var
        elif x == len(input_str)-1:
            compressed_str += str(len(input_str) - y)
    
    # check length of the compressed string vs original and return the shortest.
    if len(input_str) > len(compressed_str):
        return compressed_str
    else:
        return input_str

In [9]:
# Check function output
print(run_len_encode('aabcccccaaa'))
print(run_len_encode('aaaaaBBBbbcXXXXDDddAaaa'))
print(run_len_encode('abccba'))
print(run_len_encode(1773))

a2b1c5a3
a5B3b2c1X4D2d2A1a3
abccba
Input must be a string format

### Explanation:
1. Code set up as a function that expects a single input string variable.
2. An error capture conditional is included to check whether the input is a `str` variable type. If not, the function returns an err msg noting the input requirements.
3. A new string var, `compressed_str`, is created and assigned the first character of the input string.
4. A `for loop` iterates through the remainder of the string. The logic then works as follows; 
    - check whether the current character differs from the previous.
    - if it is different, calculate the total repititions of the **previous** character and add this to the `compressed_str` var. Then add the current character to the `compressed_var`.
    - reset the index variable `y` for calculation of next char count.
    - if the current char is the **last** char in the string, calculate the char count and add it to the `compressed_str`
5. Once the string is assessed, check whether the compressed version is shorter than the original input, and return which ever is shorter.
6. The algorithm is case sensitive and will count upper/lower case characters separately. The code could be modified to convert each character into either upper or lower case using the `.upper()` or `.lower()` methods before comparing the adjacent chars.

### Challenge 5: File Handling

##### Part - 1
Read the file named 'Diabetes.csv' available in the project folder.

In [2]:
import pandas as pd

# included to ignore warning errors
pd.options.mode.chained_assignment = None

In [3]:
# load raw data into dataframe, selecting row 4 as the header - skips the erroneous data at the top of the CSV
raw_df = pd.read_csv('./Diabetes.csv', header=4,)
raw_df.head()

,diabetes,times_pregnant,glucose_conc,diastolic_BP,triceps_thk,2_hr_insulin,bmi,pedigree,age,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,0,1,85,66,29,0,26.6,0.351,31,Person2,NaN,NaN,NaN,NaN,NaN
1,1,8,183,64,0,0,23.3,0.672,32,NaN,NaN,51,NaN,NaN,NaN
2,0,1,89,66,23,94,28.1,0.167,21,NaN,Target(y/n),NaN,NaN,NaN,NaN
3,1,0,137,40,35,168,43.1,2.288,33,NaN,Y,Supervised,Discrete (Y/N,NaN,NaN
4,0,5,116,74,0,0,25.6,0.201,30,NaN,NaN,NaN,NaN,Y,Classification

In [4]:
# slice the raw data to eliminate erroneous columns to the right of the CSV
df = raw_df.iloc[:,:9]
df.head()

,diabetes,times_pregnant,glucose_conc,diastolic_BP,triceps_thk,2_hr_insulin,bmi,pedigree,age
0,0,1,85,66,29,0,26.6,0.351,31
1,1,8,183,64,0,0,23.3,0.672,32
2,0,1,89,66,23,94,28.1,0.167,21
3,1,0,137,40,35,168,43.1,2.288,33
4,0,5,116,74,0,0,25.6,0.201,30

In [5]:
# create new DF eliminating any zero glucose levels, which are assumed to be erroneous entries
df_gluc_con = df[df.glucose_conc > 0]
df_gluc_con.head()

,diabetes,times_pregnant,glucose_conc,diastolic_BP,triceps_thk,2_hr_insulin,bmi,pedigree,age
0,0,1,85,66,29,0,26.6,0.351,31
1,1,8,183,64,0,0,23.3,0.672,32
2,0,1,89,66,23,94,28.1,0.167,21
3,1,0,137,40,35,168,43.1,2.288,33
4,0,5,116,74,0,0,25.6,0.201,30

##### Part - 2
- Check if the value for 'glucose_conc' is less than 100.
- Create a new column named 'prediction'.
- If the glucose_conc level is less than 100 then your prediction for that row will be 0 otherwise 1.

In [6]:
# generate a list of prediction values and assign to new column in dataframe and check 
df_gluc_con['Prediction'] = [0 if value < 100 else 1 for value in df_gluc_con['glucose_conc']]
df_gluc_con.head()

,diabetes,times_pregnant,glucose_conc,diastolic_BP,triceps_thk,2_hr_insulin,bmi,pedigree,age,Prediction
0,0,1,85,66,29,0,26.6,0.351,31,0
1,1,8,183,64,0,0,23.3,0.672,32,1
2,0,1,89,66,23,94,28.1,0.167,21,0
3,1,0,137,40,35,168,43.1,2.288,33,1
4,0,5,116,74,0,0,25.6,0.201,30,1

##### Part - 3
Write the content of the 'Diabetes.csv' file along with 'prediction' values into a new file named 'Diabetes-with-predictions.csv'

In [7]:
# save modified dataframe to CSV ingnoring the index values which are outputted as default
df_gluc_con.to_csv('Diabetes-with-predictions.csv', index=False)

### *BONUS* Challenge: Diabetes
- From the above file, find the min and max age.
- Create six intervals based on age (e.g. 11 to 20, 21 to 30 etc.) including both min and max age found earlier.
- For each age interval compute the average 'glucose_conc'.
- Write your computed data into a new file named 'average_glucose_by_age.csv'. This file should have two columns 'age_interval' and 'avg_glucose_conc'

In [8]:
# determine the max/min ages in the dataset using the Pandas max/min methods and print out in nice format
print('The max age in the dataset is {0}'.format(df.age.max()))
print('The min age in the dataset is {0}'.format(df.age.min()))

The max age in the dataset is 81
The min age in the dataset is 21

In [9]:
# create two lists with the low/high age values for the 6 brackets
age_low = [21,31,41,51,61,71]
age_hi = [30,40,50,60,70,81]

In [10]:
# combine low/high bracket values in readable str format for CSV
brackets = [str(age_low[x]) + "-" + str(age_hi[x]) for x in range(6)]
brackets

['21-30', '31-40', '41-50', '51-60', '61-70', '71-81']

In [11]:
# initialise list
avg_glucose = []

#append to the list the avg glucose conc for each age bracket using the Pandas mean method and slicing the df for each bracket
for i in range(6):
    temp_df = df_gluc_con[(df_gluc_con['age'] >= age_low[i]) & (df_gluc_con['age'] <= age_hi[i])]
    avg_glucose.append(round(temp_df['glucose_conc'].mean(),2))

avg_glucose

[115.0, 126.99, 125.8, 141.15, 137.56, 126.5]

In [12]:
# create new DF with the age brackets and avgs
new_df = pd.DataFrame(dict(Age_Interval = brackets, Avg_Glucose_Conc = avg_glucose))
new_df

  Age_Interval  Avg_Glucose_Conc
0        21-30            115.00
1        31-40            126.99
2        41-50            125.80
3        51-60            141.15
4        61-70            137.56
5        71-81            126.50

In [13]:
# save modified dataframe to CSV, ingnoring the index values which are outputted as default
new_df.to_csv('average_glucose_by_age.csv', index=False)